/* Space out content a bit */
body {
  padding-top: 70px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Icon coloring */
.icon-state-default {
    color: #c6c6c6;
}

.icon-state-success {
    color: #45b6af;
}

.icon-state-info {
    color: #89c4f4;
}

.icon-state-warning {
    color: #ecbc29;
}

.icon-state-danger {
    color: #f3565d;
}

.dropzone > p{
    text-align: center;
    font-size: 21px;
}
.dropzone{
    padding: 30px 25px;
    border: 3px dotted grey;
    margin-bottom: 25px;
}
.dropzone > li{

}
.navbar-brand {
    padding: 0;
}
.user-menu {
    z-index: 11;
    position: fixed;
    left: 70%;
    top: 10%;
}