*, *:after, *:before{
    -webkit-box-sizing: content-box;
}
html, body
{
	min-width: 960px;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	border: 0;
	
	font-family: 'Belgrano', serif;
}
h1,h2,h3,h4,h5, p, ul
{
    padding: 0;
    margin: 0;
}
.wraper
{
	width: 100%;
    background: url("/styles/vitrine/img/bg.jpg");
}
.wraper.head
{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	z-index: 5;
	
	padding: 25px 0px;
	height: 40px;
	background: url("/styles/vitrine/img/bg.jpg");
	min-width: 960px;
}
.head-els
{
	max-width: 960px;
	margin: auto;
	height: 40px;
	position: relative;
}
.logo
{
	font-size: 23px;
	color: white;
	height: 40px;
	float: left;
	
	cursor: pointer;
}
.logo img
{
        vertical-align: middle;
        margin-right: 10px;
}
ul.menu
{
	margin: 6px 0 0 20px;
	padding: 0;
	float: left;
}
ul.menu li
{
	margin-left: 22px;
	
	display: inline;
	list-style: none;
}
ul.menu li:first-child
{
	margin-left: 0px;
}
ul.menu li a
{
	text-transform: uppercase;
	font-size: 14px;
	color: white;
	text-decoration: none;
}
ul.menu li a.selected, ul.menu li a:hover
{
	color: #43a4e2;
}
.login
{
	text-transform: uppercase;
	float: right;
	margin-left: 20px;
	width: 80px;
	height: 30px;
	line-height: 30px;
	
	font-size: 13px;
	color: white;
	background-color: #4e4c51;
	text-align: center;
	
	cursor: pointer;
}

.cont
{
	margin: auto;
	max-width: 960px;
	height: 655px;
	overflow: hidden;
	position: relative;
}
.bg-raw
{
	background: url("/styles/vitrine/img/bg.jpg");
}
#slider-info
{
	width: 2880px;
	position: relative;
}
.slide-main
{
	width: 960px;
	height: 500px;
	float: left;
}
.slide-main h1
{
	color: #43a4e2;
	font-size: 36px;
	margin: 0px auto;
	padding: 50px 0px;
	text-align: center;
	width: 800px;
	line-height: 37px;
}
.slide-main .slider-img
{
        margin: auto;
        display: block;
		text-align: center;
		position: relative;
}
.al, .ar
{
        position: absolute;
		top: 43%;
		width: 43px;
		height: 65px;
		margin-top: -32px;
		cursor: pointer;
		opacity:1;
		filter:alpha(opacity=100); /* For IE8 and earlier */
		z-index: 4;
}
.al:hover, .ar:hover
{
	opacity:0.85;
	filter:alpha(opacity=85); /* For IE8 and earlier */
}
.al
{
	left: 0;
}
.ar
{
	right: 0;
}
.slide-main p.slide-note
{
        color: white;
        font-size: 18px;
		line-height: 25px;
		margin: 30px 0px 40px 0px;
		text-align: center;  
}
ul.intro_buttons
{
        text-align: center;
}
ul.intro_buttons li
{
        display: inline-block;
        text-transform: uppercase;
    
        list-style: none;
        margin: 0px 10px;  
}
ul.intro_buttons li a
{
		display: block;
		text-align: center;
        color: white;
        text-decoration: none;
		font-size: 14px;
		
		width: 300px;
		height: 55px; 
		line-height: 55px; 
        border: 3px solid #43a4e2;
}
ul.intro_buttons li a:hover
{
        background-color: #43a4e2;
}
section.paging
{
	width: 100%;
	text-align: center;
}
section.paging-main
{
	height: 110px;
	line-height: 110px;
}
section.paging .dot
{
	display: inline-block;
	height: 10px;
	width: 10px;
	background-color: white;
	border-radius: 15px;
	cursor: pointer;
}
section.paging .dot.selected, section.paging .dot:hover
{
	background-color: #43a4e2;	
}
.dot-cont
{
	width: auto;
	height: 10px;
	text-align: center;
	vertical-align: middle;
}
.wraper_bg-bright
{       
        background: #e9e9e9 url("/styles/vitrine/img/map-packs.png") no-repeat center 67%;
        color: #37353a;
        text-align: center;
        position: relative;
		overflow: hidden;
}        
.wraper_bg-bright h1
{
	padding: 55px 0px 25px 0px;
	font-size: 34px;
	line-height: 44px;
	color: #37353a;
}
.wraper_bg-bright h3
{
	color: #37353a;
	font-size: 18px;
	line-height: 25px;
	padding: 0px 0px 50px 0px;
}
.packs-cont
{
	max-width: 880px;
	height: 330px;
	margin: auto;
	text-align: center;
}
.pack
{
	background-color: white;
	float: left;
	margin: 10px 0px;
	width: 218px;
	height: 310px;
	border: 1px #cccccc solid;
	border-left: none;
}
.pack.selected
{
	background-color: #43a4e2;
	height: 330px;
	margin: 0;
}
.pack:first-child
{
	border: 1px #cccccc solid;	
}
.pack-h
{
	height: 45px;
	line-height: 45px;
	width: 100%;
	font-size: 18px;
	color: #5f5f5f;
}
.pack.selected .pack-h
{
	color: white;
	height: 55px;
	line-height: 55px;
}
.pack-price
{
	height: 75px;
	line-height: 75px;
	font-size: 38px;
	color: #43a4e2;
	border-top: 1px #dfdfdf solid;
	border-bottom: 1px #dfdfdf solid;
	background-color: #f7f7f7;
}
.pack.selected .pack-price
{
	color: white;
	background-color: #37353a;
	border-top: 1px #37353a solid;
	border-bottom: 1px #37353a solid;
	
}
.pack-price sup
{
	font-size: 23px;
}
.pack-info
{
	height: 90px;
	width: 100%;
	padding: 20px 0px;
}
.pack.selected .pack-info
{
	padding-bottom: 30px;
}
.pack-i-line
{
	color: #95a0ab;
	font-size: 14px;
	font-family: "Open Sans";
	
	line-height: 30px;
}
.pack-i-line span
{
	color: #223326;
}
.pack.selected .pack-i-line, .pack.selected .pack-i-line span
{
	color: white;
}
.pack-order
{
	background-color: #43a4e2;
	height: 40px;
	line-height: 40px;
	width: 180px;
	margin: auto;
	font-size: 14px;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
}
.pack.selected .pack-order
{
	background-color: #37353a;
	
}
.profits
{
	margin: 40px auto 70px;
	max-width: 960px;
	text-align: center;
	position: relative;
	z-index: 1;
}
.profits-block
{
	display: inline-block;
	width: 240px;
	margin: 0px 38px;
}
.profits-block h2
{
	font-size: 17px;
	color: #5f5f5f;
	line-height: 50px;
}
.profits-block p
{
	font-family: "Open Sans";
	font-size: 14px;
	color: #5f5f5f;
	line-height: 18px;
	max-height: 65px;
}
.profits-b-discl
{
	color: #37353a;
	font-size: 18px;
	line-height: 25px;
	padding-bottom: 60px;
}
.wraper_bg-raw
{
        background: url("/styles/vitrine/img/bg.jpg");
        color: white;
        position: relative;
		overflow: hidden;
}
.wraper_bg-raw h1
{
        text-align: center;
        padding:60px 0px 30px 0px;
		font-size: 34px;
		color: white;
		font-family: 'Belgrano', serif;
}
.wraper_bg-raw h3
{
        text-align: center;
		font-size: 17px;
		color: #a9a9a9;
		line-height: 25px;
		max-width: 960px;
		margin: auto;
		padding: 0px 0px 60px 0px;
		font-family: 'Belgrano', serif;
}
.features-cont
{
	max-width: 960px;
	margin: auto;
}
.features-cont-sub
{
	padding: 0 90px 60px 90px;	
}
aside.features-as
{
	width: 320px;
	height: 100px;
	margin: 0px 0px 30px 0px;
	display: inline-block;
}
aside.features-as.features-as-l
{
	margin-right: 100px;
}
.features-as img
{
	margin-top: 20px;
	margin-right: 40px;
	float: left;
}
.features-t-cont
{
	float: right;
}
.features-as .features-head
{
	color: #5f5f5f;
	font-size: 18px;
	padding-bottom: 20px;
}
.features-as p 
{
	font-size: 14px;
	font-family: "Open Sans";
	text-align: left;
	height: 60px;
	width: 200px;
	line-height: 18px;
	overflow: hidden;
}

.wraper_bg-blue
{
        background-color: #43a4e2;
        color: white;
        position: relative;
		overflow: hidden;
}
.wraper_bg-blue h1
{
        text-align: center;
        padding-top: 60px;
		padding-bottom: 30px;
		font-size: 34px;
		line-height: 44px;
		
}
.wraper_bg-blue h3
{
	font-size: 18px;
	color: #b2d5f1;
    text-align: center;
	max-width: 635px;
	margin: auto;
	padding-bottom: 90px;
}
.testim-cont-general
{
	max-width: 780px;
	margin: auto;
	padding: 0px 90px 40px;
}
.testim-cont, .testim-form
{
	width: 350px;
	display: inline-block;
}
.testim-form
{
	margin-left: 75px;
}
.testim-img
{
	float: left;
	background: url("/styles/vitrine/img/t-shape.png") no-repeat;
	width: 77px;
	height: 77px;
	position: relative;
	text-align: center;
	line-height: 77px;
	
	padding: 0px 30px 50px 0px;
}
.testim-img img
{
	max-width: 65px;
	max-height: 65px;
}
.testim-img img.long
{
	margin-top: 25%;
}
.testim-img img.short
{
	margin-top: 21%;
}
.testim-info .main, .testim-info .sub
{
	font-family: "Open Sans";
	color: white;
}
.testim-info .main
{
	font-size: 14px;
	line-height: 18px;
	font-style: italic;
}
.testim-info .sub
{
	font-size: 13px;
	line-height: 30px;
}
footer.wraper
{
 color: white;
 padding: 0px 0px 100px 0px;
}
.head-els.footer
{
        padding-bottom: 40px;
        padding-top: 25px;
}
.f_text
{
        color: #7b7b7b;
        width: 415px;
  height: 135px;
        line-height: 23px;
        font-size: 14px;
        float: left;
  overflow: hidden;
  font-family: "Open Sans";
        
}
.f_section
{
        max-width: 960px;
        margin: auto;
        
}
.f_subscribe
{
  float: right;
     color: #7b7b7b;
}
.f_subscribe h3
{
  font-size: 19px;    
}
.f_subscribe p
{
  font-size: 14px;
  font-family: "Open Sans"; 
}
.f_form
{
  height: 60px;
  padding: 15px 0;
}
.f_form input
{
  height: 60px;
  padding-top: 0;
  padding-bottom: 0;
  border: 0;
}
.form1
{
  width: 290px;
  padding-left: 20px;
  padding-right: 0px;
  font-size: 14px;
  float: left;
  border: 0;
  font-family: "Open Sans";
}
.form2
{
  width: 150px;
  background-color: #43a4e2;
  color: white;
  text-transform: uppercase;
  padding-left: 0px;
  float: left;
  text-shadow: 1px 1px 2px gray, 0 0 0em red;
  font-size: 14px;
}
.login_form
{
  position:absolute;
  top: 100%;
  margin-top: 40px;
  right: 0;
  width: 420px;
  height: 460px;
  background-color: #e9e9e9;
  text-align: center;
  color: #37353a;
  float: right;
}
.login_form h1
{
  padding-top: 30px;
}
.login_form h3
{
  padding-top: 20px;
  font-size: 14px;
  margin-bottom: 35px;
}

.l_form1
{
  width: 325px;
  height: 60px;
  padding-left: 15px;
  margin-bottom: 20px;
}
.l_form2
{
  width: 325px;
  height: 60px;
  padding-left: 15px;
  margin-bottom: 20px;
}
.l_checkbox 
{
  text-align: left;
  padding: 0px 40px 20px 40px;
  height: 30px;
}
.l_checkbox p
{
  float: left;
  line-height: 32px;
}
.checbox-img
{
  background: url("/styles/vitrine/img/form/field.png") no-repeat;
  width: 32px;
  height: 32px;
  float: left;
  margin-right: 20px;
}
.checbox-img, .checbox-img img
{
  cursor: pointer;
}
.checbox-img img
{
  display: none;
}
.checbox-img.checked img
{
  display: block;
}
.forgot a
{
  float: right;
  color: #43a4e2;
  font-family: 'Belgrano', serif;
  height: 32px;
  line-height: 32px;
}
.l_form3
{
  width: 340px;
  height: 60px;
  background-color: #43a4e2;
  color: white;
  text-transform: uppercase;
  border: 0;
}
.triangle
{
  width: 0; height: 0;
  border: 20px solid transparent;
  border-right: 20px solid #e9e9e9;
  border-bottom: 20px solid #e9e9e9;
  float: right;
  
  position: absolute;
  top: -35px;
  right: 30px;
}


.t_form1, .t_form2
{
  width: 320px;
  height: 60px;
  padding-left: 15px;
  margin-bottom: 20px;
  padding-left: 20px;
  background: #fff url(/styles/vitrine/img/dot.png) top right no-repeat;
}
.t_form3
{
  width: 325px;
  height: 200px;
  padding: 20px 0px 20px 15px;
  margin-bottom: 20px;
  background: #fff url(/styles/vitrine/img/dot.png) top right no-repeat;
  border-top: none;
  border-left: 1px solid #3d95cd;
  border-right: 1px solid #3d95cd;
  border-bottom: 1px solid #3177a4;
  box-shadow: 0 1px 2px #3177a4;
}
.t_form4
{
  width: 340px;
  height: 60px;
  background-color: #37353a;
  color: white;
  text-transform: uppercase;
  border: 0;
}
.wraper-blog h1
{
	padding: 60px 0px;
	overflow: hidden;
}
.blog-cont
{
	max-width: 100%;
	min-width: 960px;
	overflow: hidden;
}
.blog-cont-sub
{
	width: 1478px;
	position: relative;
	left: 50%;
	margin-left: -738px;
	text-align: center;
	overflow: hidden;
}
#slider-blog
{
	width: 1842px;
	position: relative;
}
.blog-cont-visible
{
	max-width: 882px;
	margin: auto;
	text-align: center;
	margin: 0 20px;
	
	float: left;
	overflow: hidden;
}
.blog-block
{
	width: 278px;
	height: auto;
	float: left;
	vertical-align: top;
	border: 1px gray solid;	
	margin-right: 20px;
	position: relative;
}
.blog-block-masked-content
{
	width: 278px;
	height: 480px;
	float: left;	
}
.blog-block.first
{
	margin-left: 0;
}
.blog-block.masked
{
	opacity:0.2;
	filter:alpha(opacity=20); /* For IE8 and earlier */
	
	margin: 0;
	float: left;
}
.dicl-img
{
		width: 278px;
		height: 220px;
		overflow: hidden;	
		position: relative;
}
.dicl-img img
{
	position: absolute;
	top: 0;
	left: -65%;
	
	height: 100%;
}
.dicl-info
{
	padding: 0 40px 0 15px;
	text-align: left;
	height: 260px;
}
.dicl-info h2
{
		color:  #43a4e2;
		font-size: 18px;
		font-family: 'Belgrano', serif;
		font-weight: normal;
		line-height: 25px;
		padding: 30px 0px;
}
.dicl-info p
{
		height: 80px;
		overflow: hidden;
		color: white;
		font-size: 14px;
		font-family: "Open Sans";
		line-height: 18px;
}
.comments-cont
{
	padding: 20px 0px 5px;	
}
.comments
{
		font-size: 18px;
		line-height: 25px;
		color: white;
		font-family: "Open Sans";
		text-align: left;
		cursor: pointer;
		vertical-align: top;
}
.comments img
{
	width: 30px;
	padding-right: 15px;
	float: left;
}
.blog-paging
{
	width: 342px;
	margin: auto;
	padding: 60px 0px 50px 0px;
	height: 60px;
}
.blog-paging .older, .blog-paging .newer
{
	float: left;
	width: 130px;
	height: 60px;
	padding-left: 40px;
	font-size: 14px;
	color: white;
	line-height: 60px;
	text-transform: uppercase;
	text-align: left;
	cursor: pointer;
}
.blog-paging .newer
{
	background: #43a4e2 url("/styles/vitrine/img/blog-right.png") no-repeat 150px center;
}
.blog-paging .older
{
	background: #43a4e2 url("/styles/vitrine/img/blog-left.png") no-repeat 10px center;
	border-right: 1px solid #235d82;
}
.blog-paging .older.selected, .blog-paging .older:hover, .blog-paging .newer.selected, .blog-paging .newer:hover
{
	background-color: #358fc8;
}
.map
{
		background: #e1e1e1 url("/styles/vitrine/img/map.png") center no-repeat;
		height: 790px;
		position: relative
}
.address
{
		width: 540px;
		background: #f7f6f6 url("/styles/vitrine/img/line.png") top repeat-x;
		position: absolute;
		top: 43%;
		right: 0;
		left: 0;
		margin: -125px auto 0;
		z-index: 4;
}
.address-precise
{
	width: 32px;
	height: 57px;
	background: url("/styles/vitrine/img/contact-where.png") no-repeat;
	
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	margin: 47px auto 0;
}
.triangle2
{
		width: 0;
		height: 0;
		border: 20px solid transparent;
		border-left: 20px solid #f7f6f6;
		border-top: 20px solid #f7f6f6;
		float: right;
		position: absolute;
		bottom: -35px;
		right: 240px;
}
.address h1
{
		color: #43a4e2;
		font-size: 34px;
		padding-top: 30px;
		padding-bottom: 0px;
		text-align: center;
		font-weight: normal;
}
.address h3
{
		color: #5f5f5f;
		font-size: 18px;
		font-family: 'Belgrano', serif;
		padding-top: 15px;
		font-weight: normal;
}
.address p
{
		color: #5f5f5f;
		font-family: "Open Sans";
		font-size: 14px;
		padding-top: 10px;
}
.address-cont
{
	margin: auto;
	text-align: center;
	padding-bottom: 50px;
}
.address-left
{
		text-align: right;
		margin-right: 30px;
		display: inline-block;
}
.address .address-left h3 
{
	text-align: right;	
}
.address .address-right h3
{
	text-align: left;
}
.address-right
{
		text-align: left;
		margin-left: 30px;
		display: inline-block;
}
.polosochka
{
		width: 1px;
		height: 100px;
		border-left: 1px solid #e2e2e2;
		display: inline-block;
}
.s_form
{
	padding: 100px 0 150px 0;
	width: 801px;
	margin: auto;
	position: relative;
	z-index: 2;
}
.s_form input, textarea
{
  height: 60px;
}
input.s_form1
{
  padding: 0;
  margin: 0;
  width: 280px;
  padding-left: 20px;
  padding-right: 0px;
  font-size: 14px;
  float: left;
  border: 0;
  font-family: "Open Sans";
  height: 60px;
}
.s_form2
{
  width: 340px;
  background-color: #43a4e2;
  color: white;
  text-transform: uppercase;
  padding-left: 0px;
  float: left;
  text-shadow: 1px 1px 2px gray, 0 0 0em red;
  font-size: 14px;
}
.http-com-input
{
	height: 60px;
	float: left;
}
.http-com-input .s_form1
{
	height: 100%;
}
.http
{
	color: #919191;
	font-size: 14px;
	float: left;
	border: 0;
	font-family: "Open Sans";
	font-size: 14px;
	background-color: white;
	text-align: center;
	height: 100%;
	width: 60px;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 60px;
}
.polosochka2
{
	background-color: #ebeaeb;
	width: 1px;
	height: 40px;
	margin: 0px;
	float: left;
	margin-top: 10px;
}
.com
{
	color: #919191;
	background: #ffffff url("/styles/vitrine/img/arrow_bottom.png") no-repeat 75px 28px;
	text-align: center;
	height: 100%;
	width: 75px;
	float: left;
	padding: 0 25px 0 0 ;
	line-height: 60px;
	cursor: pointer;
	font-size: 14px;
	
	position: relative;
}
.comsub
{
	color: #919191;
	text-align: center;
	height: 60px;
	width: 75px;
	padding: 0 25px 0 0 ;
	line-height: 60px;
	cursor: pointer;
	font-size: 14px;
	
	position: absolute;
	background: white;
	display: none;
}
.sub1
{
	top: 60px;
}
.sub2
{
	top: 120px;
}
.sub3
{
	top: 180px;
}
.comsub:hover
{
	background-color: #43a4e2;
}
.com img
{
	margin-left: 15px;
}
.icon-container
{
	display: block;
	text-align: center;
	padding-bottom: 55px;
	cursor: pointer;
}
.icons
{
	width: 110px;
	height: 157px;
	overflow: hidden;
	display: inline-block;
}
.icons .hover
{
	position: relative;	
}
.icons .hover div
{
	margin-top: -30px;
	color: white;
	font-family: 'Belgrano', serif;
	font-size: 19px;
	line-height: 30px;
}
.wraper-follow-us h3
{
	padding-bottom: 50px;
}

.arrow_blue
{
	position:relative;
	margin: -40px auto 0px;
	background: #43a4e2;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	top:20px;
	left: 0;
	right: 0;
	border:0;
	cursor: pointer;
	
	z-index: 2;
}
.arrow_blue.border
{
	width: 37px;
	height: 35px;
	border-radius: 21px;
	border: 3px solid #383c44;
}
.arrow_up {
	width: 0; 
	height: 0; 
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 12px solid white;
	position:absolute;
	top: 30%;
	left: 30%;	
}
.mask
{
	display: none;
	background: url("/styles/vitrine/img/mask-pixel.png");
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 4;
}

.map-mask
{
	background-color: rgba(220, 220, 220, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/*paralax*/
.intro_buttons li a
{
	position: relative;
}
.pack 
{
	position: relative;
}
.features-as
{
	position: relative;
}
.testim-block
{
	position: relative;
}
.t_form1, .t_form2, .t_form3, .t_form4
{
	position: relative;
}
.icons 
{
	position: relative;
}
.profits-block
{
	position: relative;
}

