<div class="triangle"></div>
<h1>~ User Access ~</h1>
<h3>Login to access your personal Cubbyspace</h3>
<span style="color: darkred;">{{message}}</span>
<form class="l_form">
    <input class="l_form1" type="text" ng-model="user.email" placeholder="E-mail">
    <input class="l_form2" type="password" ng-model="user.password" placeholder="Password">
    <div class="l_checkbox">
        <div class="checbox-img checked">
            <img src="../styles/vitrine/img/form/check.png">
        </div>
        <p>Remember me</p>
        <div class="forgot"><a href="#">Forgot pass?</a></div>
    </div>
    <input type="button" class="l_form3" ng-click="login(user)" value="READY TO GO!" />
    <div style="clear: both">
        <p>No account ? You can <a href="#" ng-mousedown="showRegister()">register</a></p>                    </p>
    </div>
</form>