<div class="modal-header">
    <h3 class="modal-title">Permissions de dossier</h3>
</div>
<div class="modal-body">
    <div class="form-group" ng-repeat="user in users">
        <div class="input-group">
            <input type="text" disabled class="form-control" value="{{user.name}}">
            <span class="input-group-btn">
                <button toggle ng-click="togglePermission(user, 'ro')" ng-class="itemClass(user, 'ro')" class="btn btn-default">Lecture</button>
                <button toggle ng-click="togglePermission(user, 'rw')" ng-class="itemClass(user, 'rw')" class="btn btn-default">Ecriture</button>
            </span>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
