<div id="rForm" class="login_form" style="display: none;">
    <div class="triangle"></div>
    <h1>~ User Access ~</h1>
    <h3>Register to access your personal Cubbyspace</h3>
    <span style="color: darkred;">{{message}}</span>
    <form class="l_form">
        <input type="text" class="l_form2" ng-model="user.name" placeholder="Name"/>
        <input class="l_form1" type="text" ng-model="user.email" placeholder="E-mail">
        <input class="l_form2" type="password" ng-model="user.password" placeholder="Password">
        <input type="button" class="l_form3" ng-click="register(user)" value="READY TO GO!" />
        <div style="clear: both"></div>
    </form>
</div>