<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<div class="row-fluid">
    <span class="muted pull-left lead">
        cubby
    </span>
    <span class="muted pull-left lead" ng-repeat="tab in currentTab">
        &nbsp;>&nbsp;{{tab}}
    </span>
    <div class="btn-group pull-right">
        <button ng-hide="type == 'ro'" class="btn btn-default" data-toggle="modal" data-target="#modalFolder">Ajouter un dossier</button>
        <button class="btn btn-default" ng-click="refresh()">Rafraichir</button>
    </div>
</div>
<div class="row-fluid">
    <div class="alert alert-success" ng-show="shareLink">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Votre lien :</strong> {{shareLink}}
    </div>
    <table class="table table-hover table-stripped">
        <thead>
        <tr>
            <th></th>
            <th>Nom</th>
            <th ng-show="type == 'space'">Type</th>
            <th ng-show="type == 'ro' || type == 'rw'">Propiétaire</th>
            <th ng-show="type == 'space'">Taille</th>
            <th ng-show="type == 'space'">Modifié</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-hide="$root.currentName == '#'" ng-dblclick="previousFolder(prevFolder)" drop>
            <td><i class="fa fa-folder fa-2x icon-state-warning"></i></td>
            <td class="lead">...</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr ng-repeat="folder in folders" ng-dblclick="changeFolder(folder)" drag="folder" drop="folder" index="$index">
            <td><i class="fa fa-folder fa-2x icon-state-warning"></i></td>
            <td><span editable-text="folder.name" onbeforesave="updateFolder(folder._id, 'name', $data)">{{folder.name}}</span></td>
            <td ng-show="type == 'space'">dossier</td>
            <td ng-hide="type == 'space'">{{folder.owner.name}}</td>
            <td></td>
            <td></td>
            <td>
                <div class="btn-group">
                    <button ng-show="type == 'space'" ng-click="openSettings(folder)" class="btn btn-default"><i class="fa fa-2x fa-cogs icon-state-primary"></i></button>
                    <button ng-hide="type == 'ro'" ng-click="removeFolder($index)" class="btn btn-default"><i class="fa fa-2x fa-trash-o icon-state-danger"></i></button>
                </div>
            </td>
        </tr>
        <tr ng-repeat="file in currentFolder.files" drag="file" index="$index">
            <td><i class="fa fa-file fa-2x icon-state-default"></i></td>
            <td>{{file.name}}</td>
            <td>{{file.type}}</td>
            <td>{{file.size | size:2}}</td>
            <td>{{file.lastModifiedDate | date:'dd/MM/yyyy HH:mm:ss'}}</td>
            <td>
                <div class="btn-group" ng-show="type == 'ro'">
                    <button ng-click="downloadFile(file)" class="btn btn-default"><i class="fa fa-2x fa-cloud-download icon-state-primary"></i></button>
                </div>
                <div class="btn-group" ng-show="type == 'space' || type == 'rw'">
                    <button ng-click="downloadFile(file)" class="btn btn-default"><i class="fa fa-2x fa-cloud-download icon-state-primary"></i></button>
                    <button ng-show="type == 'space'" ng-click="shareFile(file)" class="btn btn-default"><i class="fa fa-2x fa-share-alt icon-state-primary"></i></button>
                    <button ng-click="removeFile($index, file._id)" class="btn btn-default"><i class="fa fa-2x fa-trash-o icon-state-danger"></i></button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>


    <div class="modal fade" id="modalFolder" tabindex="-1" role="dialog" aria-labelledby="modalFolder" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Ajout d'un dossier</h4>
                </div>
                <div class="modal-body">
                    <form class="form-vertical">
                        <div class="form-group">
                            <label>Nom</label>
                            <input type="text" class="input-lg form-control" ng-model="folderName" placeholder="Entrer un nom">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addFolder(folderName)">Save changes</button>
                </div>
            </div>
        </div>
    </div>