
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#">
                <img src="/images/logo.png" height="45px" />
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-repeat="link in links" ng-class="{ 'active':nav.isSet(link.path)} ">
                    <a href="{{link.url}}" ng-click="nav.setNav(link.path)">{{link.name}}</a>
                </li>
                <li my-account>

                </li>
                <ul user-menu class="hide text-center user-menu">
                    <li editable-text="auth.name" onbeforesave="updateUser('name', $data)" class="lead list-group-item">{{auth.name}}</li>
                    <li editable-text="auth.email" onbeforesave="updateUser('email', $data)" class="list-group-item">{{auth.email}}</li>
                    <li ng-show="auth.storage != 0" class="list-group-item">{{auth.storage | size:2 }} / {{auth.plan.storageSpace * 1024 * 1024 * 1024 | size: 0}}</li>
                    <li class="list-group-item">{{auth.plan.name}} plan</li>
                    <small class="text-muted">Click to edit...</small>
                    <!-- Split button -->
                    <div class="form-controls">
                        <button type="button" class="btn btn-primary" ng-click="disconnect()">Disconnect</button>
                    </div>
                </ul>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
