    <div class="dropzone" id="dropzone">
        <ul>
            <li ng-repeat="file in files">
                {{file.name}} {{file.size | size}}
                <i ng-show="!currentFile.progress" class="fa fa-check"></i>
                <i ng-show="currentFile.progress" class="fa fa-spinner fa-spin"></i></li>
        </ul>
        <p ng-hide="files">Glissez vos fichiers ici !</p>
    </div>
