<link rel="stylesheet" ng-href="{{css}}">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<h1>Admin</h1>
<hr/>
<div class="row">
    <button class="pull-right btn btn-default">Create</button>
</div>
<div class="row">
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Duration</th>
            <th>Storage space</th>
            <th>Max bandwidth</th>
            <th>Shared daily link transfer quota</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="plan in plans">
            <td editable-text="plan.name" onbeforesave="updatePlan(plan._id, 'name', $data)">{{plan.name}}</td>
            <td editable-text="plan.description" onbeforesave="updatePlan(plan._id, 'description', $data)">{{plan.description}}</td>
            <td editable-text="plan.price" onbeforesave="updatePlan(plan._id, 'price', $data)">{{plan.price}}</td>
            <td editable-text="plan.duration" onbeforesave="updatePlan(plan._id, 'duration', $data)">{{plan.duration}}</td>
            <td editable-text="plan.storageSpace" onbeforesave="updatePlan(plan._id, 'storageSpace', $data)">{{plan.storageSpace}}</td>
            <td editable-text="plan.maxBandwidth" onbeforesave="updatePlan(plan._id, 'maxBandwidth', $data)">{{plan.maxBandwidth}}</td>
            <td editable-text="plan.transferQuota" onbeforesave="updatePlan(plan._id, 'transferQuota', $data)">{{plan.transferQuota}}</td>
            <td>
                <div class="btn-group">
                    <button ng-click="removePlan($index, plan._id)" class="btn btn-default"><i class="fa fa-2x fa-trash-o icon-state-danger"></i></button>
                </div>
            </td>
        </tr>
        </tbody>

    </table>
</div>

<div class="modal fade" id="modalFolder" tabindex="-1" role="dialog" aria-labelledby="modalFolder" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Ajout d'un dossier</h4>
            </div>
            <div class="modal-body">
                <form class="form-vertical">
                    <div class="form-group">
                        <label>Nom</label>
                        <input type="text" class="input-lg form-control" ng-model="folderName" placeholder="Entrer un nom">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addFolder(folderName)">Save changes</button>
            </div>
        </div>
    </div>
</div>