<link rel="stylesheet" ng-href="{{css}}">
<div class="row">
    <div class="col-xs-6 col-sm-9 col-md-9">&nbsp;</div>

    <div class="col-xs-6 col-sm-3 col-md-3">
        <div class="well well-sm">
            <div class="row">
                <div class="text-center col-sm-12 col-md-12">
                    <ul class="list-group">
                        <li editable-text="auth.name" onbeforesave="updateUser('name', $data)" class="lead list-group-item">{{auth.name}}</li>
                        <li editable-text="auth.email" onbeforesave="updateUser('email', $data)" class="list-group-item">{{auth.email}}</li>
                        <li ng-show="auth.storage != 0" class="list-group-item">{{auth.storage | size:2 }} / {{auth.plan.storageSpace * 1024 * 1024 * 1024 | size: 0}}</li>
                        <li class="list-group-item">{{auth.plan.name}} plan</li>
                        <small class="text-muted">Click to edit...</small>
                    </ul>
                    <!-- Split button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary">Change plan</button>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span><span class="sr-only">Social</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Change password</a></li>
                            <li><a href="#">Disconnect</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
