<link rel="stylesheet" ng-href="{{css}}">
<h1>Mes dossiers partagés</h1>
<hr/>
<div class="col-md-6">
    <legend>Lecture seulement</legend>
    <file-system type="ro"></file-system>

</div>

<div class="col-md-6">
    <legend>Lecture / Ecriture</legend>
    <upload></upload>
    <file-system type="rw"></file-system>
</div>
