<link rel="stylesheet" ng-href="{{css}}">
<link rel="stylesheet" href="/styles/animations.css" type="text/css"/>

<h1>Les pack</h1>
<hr/>
    <div ng-repeat="plan in plans" class="col-md-4">
        <div class="panel" ng-class="{'panel-success' : $index==0, 'panel-primary' : $index==1, 'panel-warning' : $index==2, 'panel-danger' : $index==3}">
            <div class="panel-heading">
                <h4 class="text-center">{{plan.name}} pack</h4>
            </div>
            <div class="panel-body text-center">
                <p class="lead">
                    <strong ng-show="{{plan.price}} == 0">Free</strong>
                    <strong ng-hide="{{plan.price}} == 0">{{plan.price}}€ / month</strong>
                </p>
            </div>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item"><i class="icon-ok text-danger"></i>Storage : {{plan.storageSpace}} GB</li>
                <li class="list-group-item"><i class="icon-ok text-danger"></i>Max bandwidth :
                    <span ng-show="{{plan.maxBandwidth}} == -1">unlimited</span>
                    <span ng-hide="{{plan.maxBandwidth}} == -1">{{plan.maxBandwidth}} Kbps</span>
                </li>
                <li class="list-group-item"><i class="icon-ok text-danger"></i>Shared link daily transfer quota :
                    <span ng-show="{{plan.transferQuota}} == -1">unlimited</span>
                    <span ng-hide="{{plan.transferQuota}} == -1">{{plan.transferQuota}} GB</span>
                </li>
            </ul>
            <div class="panel-footer">
                <a ng-hide="plan.name === auth.plan.name" class="btn btn-lg btn-block btn-default" ng-click="subscribe(plan)" href="#"><span class="glyphicon glyphicon-check"></span></a>
                <a ng-show="plan.name === auth.plan.name" class="btn btn-lg btn-block btn-success" href="#/plans"><span class="glyphicon glyphicon-ok"></span></a>
                <form class="btn-group btn-group-justified" ng-hide="plan.name === auth.plan.name" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <ng-include src="'views/plans/button'+plan.name+'.html'"></ng-include>
                </form>
            </div>
        </div>
    </div>


