<link rel="stylesheet" ng-href="{{css}}">
<style>
    *, *:before, *:after {
        -moz-box-sizing: initial;
    }
</style>
<div class="mask"></div>
<header class="wraper head">
    <section class="head-els">
        <div class="logo" onclick="$('.menu li a').first().click();">
            <img src="/images/logold.png" height="35px">
            cubbyhole
        </div>

        <div class="login">
            login
        </div>

        <div style="clear: both;"></div>
        <div id="rForm" class="login_form" style="display: none;">
            <div class="triangle"></div>
            <h1>~ User Access ~</h1>
            <h3>Register to access your personal Cubbyspace</h3>
            <span style="color: darkred;">{{message}}</span>
            <form class="l_form">
                <input type="text" class="l_form2" ng-model="user.name" placeholder="Name"/>
                <input class="l_form1" type="text" ng-model="user.email" placeholder="E-mail">
                <input class="l_form2" type="password" ng-model="user.password" placeholder="Password">
                <input type="button" class="l_form3" ng-click="register(user)" value="READY TO GO!" />
                <div style="clear: both"></div>
            </form>
        </div>
        <div id="lrForm" class="login_form" style="display: none;">
            <div class="triangle"></div>
            <h1>~ User Access ~</h1>
            <h3>Login to access your personal Cubbyspace</h3>
            <span style="color: darkred;">{{message}}</span>
            <form class="l_form">
                <input class="l_form1" type="text" ng-model="user.email" placeholder="E-mail">
                <input class="l_form2" type="password" ng-model="user.password" placeholder="Password">
                <div class="l_checkbox">
                    <div class="checbox-img checked">
                        <img src="styles/vitrine/img/form/check.png">
                    </div>
                    <p>Remember me</p>
                    <div class="forgot"><a href="#">Forgot pass?</a></div>
                </div>
                <input type="button" class="l_form3" ng-click="login(user)" value="READY TO GO!" />
                <div style="clear: both">
                    <p>No account ? You can <a href="#" ng-mousedown="showRegister()">register</a></p>                    </p>
                </div>
            </form>
        </div>
    </section>
</header>
<div style="padding-top: 90px;"></div>
<section class="wraper bg-raw" id="intro">
    <article class="cont" style="overflow: hidden;">
        <img src="styles/vitrine/img/arrow_left.png" class="al" data-0="opacity:1" data-150="opacity:0">
        <div id="slider-info" data-0="left:0%; opacity:1" data-550="left:100%; opacity:0">
            <div class="slide-main">
                <h1>Votre espace de stockage personnel, <br> toujours à portée de main</h1>
                <div class="slider-img">
                    <img src="styles/vitrine/img/dedicated.png" height="200" class="mbl-slide">
                </div>
                <p class="slide-note">La puissance, et la sécurité à travers des serveurs hautement disponibles.</p>
            </div>
        </div>
        <img src="styles/vitrine/img/arrow_right.png" class="ar" data-0="opacity:1" data-150=" opacity:0">
        <ul class="intro_buttons">
            <li><a href="#hosting" data-0="left:0%; opacity:1" data-150="left:0%; opacity:1" data-400="left:-100%; opacity:0">Nos offres d'hébergement</a></li>
            <li><a href="#features" data-0="left:0%; opacity:1" data-150="left:0%; opacity:1" data-400="left:100%; opacity:0">Nos fonctionalités</a></li>
        </ul>
    </article>
</section>
                
<section class="wraper_bg-bright" id="hosting">
    <h1 class="h-pc">~ Choisissez un pack, et allez-y ! ~</h1>
    <h1 class="h-mbl">~ Choisissez un pack ! ~</h1>
    <h3>Vous pouvez souscrire un pack, le mettre à jour, ou vous désabonner à tout moment. <br>
        Satisfait ou remboursé sous 15 jours.</h3>
                    
    <article class="packs-cont">
        <div class="mbl-packs-cont">
            <div class="pack" ng-repeat="plan in plans | orderBy:'price'" data-0="opacity:1;left:0%;" data-300="left:-100%; opacity:0" data-600="left:0%; opacity:1" data-900="left:0%; opacity:1" data-1200="left:-100%; opacity:0">
                <header class="pack-h">{{plan.name}} Pack</header>
                <div class="pack-price">
                    {{plan.price}}<sup>€/mo</sup>
                </div>
                <div class="pack-info">
                    <div class="pack-i-line">
                        <span>{{plan.storageSpace}}</span> GO d'espace
                    </div>
                    <div class="pack-i-line">
                        <span>{{plan.maxBandwidth}}</span> kB/s up et down
                    </div>
                    <div class="pack-i-line">
                        <span>{{plan.transferQuota}}</span> GO/jour quota de partage
                    </div>
                </div>
                <div ng-hide="plan.price == 0" class="pack-order">order now</div>
                <div class="mbl-pack-mask"></div>
            </div>
        </div>
    </article>
					
    <section class="profits">
        <div class="mbl-profits-cont" id="slider-packs">
            <article class="profits-block" data-0="opacity:1;left:0%;" data-1100="opacity:1;top: 0px;" data-1400="opacity:0; top: 60px;">
                <img src="styles/vitrine/img/plan_1.png" />
                <h2>Accès rapide</h2>
                <p>Votre espace de stockage est prêt le temps de l'envoi d'un email.</p>
            </article>
            <article class="profits-block" data-0="opacity:1;left:0%;" data-1100="opacity:1;top: 0px;" data-1400="opacity:0; top: 60px;">
                <img src="styles/vitrine/img/plan_2.png" />
                <h2>Facile d'utilisation</h2>
                <p>Pas besoin de lire un manuel pour comprendre le fonctionnement. L'UX rend l'application très intuitive pour tout profil d'utilisateur</p>
            </article>
            <article class="profits-block" data-0="opacity:1;left:0%;" data-1100="opacity:1;top: 0px;" data-1400="opacity:0; top: 60px;">
                <img src="styles/vitrine/img/plan_3.png" />
                <h2>99% de uptime</h2>
                <p>Nos serveurs sont configurés pour être hautement disponibles. Pour chaque machine, en cas de crash, celle-ci est immédiatement remplacée par une autre, sans intervention humaine</p>
            </article>
        </div>
    </section>
    <section class="paging paging-main mbl-paging" id="mbl-paging-packs">
        <div class="dot selected"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </section>
    <p class="profits-b-discl">Dès l'inscription, vous bénéficiez du pack Free. <br>
        ...</p>
</section>
                
<div class="arrow_blue"><div class="arrow_up"></div></div>
<section class="wraper_bg-raw" id="features">
    <h1 class="h-pc">~ Nos fonctionalités ~</h1>
    <h1 class="h-mbl">~ Nos fonctionalités ~</h1>
    <h3 class="h-pc">Cubbyhole a été pensé pour être unique dans son utilisation, multi-plateforme.
        Que soyez sur PC, MAC, Android, Windows Phone, ou iOS, Cubbyhole vous permet d'accéder à vous fichiers n'importe où, à n'importe quelle heure.</h3>
    <h3 class="h-mbl">Cubbyhole a été pensé pour être unique dans son utilisation, multi-plateforme.
        Que soyez sur PC, MAC, Android, Windows Phone, ou iOS, Cubbyhole vous permet d'accéder à vous fichiers n'importe où, à n'importe quelle heure.
    </h3>
    <section class="features-cont">
        <div class="features-cont-sub clearfix" id="slider-features">
            <aside class="features-as features-as-l" data-0="opacity:1;left:0%;" data-900="left:-100%" data-1400="left:0%;" data-1800="left:0%" data-2150="left:-100%;">
                <img src="styles/vitrine/img/how_about_1.png" />
                <div class="features-t-cont">
                    <header class="features-head">Base de données</header>
                    <p>Cubbyhole utilise MongoDB, une bases de données No-SQL. </p>
                </div>
            </aside>
            <aside class="features-as" data-0="opacity:1;left:0%;" data-900="left:100%" data-1400="left:0%;" data-1800="left:0%" data-2150="left:100%;">
                <img src="styles/vitrine/img/how_about_5.png" />
                <div class="features-t-cont">
                    <header class="features-head">Haute disponibilité</header>
                    <p>Nous avons une équipe disponible 24h/24 7j/7 pour répondre à vos questions. </p>
                </div>
            </aside>
            <aside class="features-as features-as-l" data-0="opacity:1;left:0%;" data-950="left:-100%" data-1450="left:0%;" data-1850="left:0%" data-2200="left:-100%;">
                <img src="styles/vitrine/img/how_about_2.png" />
                <div class="features-t-cont">
                    <header class="features-head">Paiements</header>
                    <p>Tous les paiements se font par Paypal. Cubbyhole ne garde aucun code de carte.</p>
                </div>
            </aside>
            <aside class="features-as" data-0="opacity:1;left:0%;" data-950="left:100%" data-1450="left:0%;" data-1850="left:0%" data-2200="left:100%;">
                <img src="styles/vitrine/img/how_about_6.png" />
                <div class="features-t-cont">
                    <header class="features-head">Des bugs ?</header>
                    <p>Postez sur les "issues" de github, l'équipe Cubbyhole interviendra sous 24h. </p>
                </div>
            </aside>
            <aside class="features-as features-as-l" data-0="opacity:1;left:0%;" data-1050="left:-100%" data-1600="left:0%;" data-1950="left:0%" data-2300="left:-100%;">
                <img src="styles/vitrine/img/how_about_4.png" />
                <div class="features-t-cont">
                    <header class="features-head">Sécurité</header>
                    <p>Toutes les requêtes sont sécurisés par un token. </p>
                </div>
            </aside>

        </div>
    </section>
					
    <section class="paging paging-main mbl-paging mbl-paging-features" id="mbl-paging-features">
        <div class="dot selected"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </section>
</section>
                
<div class="arrow_blue border"><div class="arrow_up"></div></div>
<section class="wraper_bg-blue wraper-follow-us" id="contacts">
    <h1>~ Suivez nous ~</h1>
    <h3>Restez connectés avec nous pour vous suivre nos développements, <br/>et vous tenir au courant du futur de Cubbyhole.</h3>
    <script>
        $(function(){
            $('.icons').hover(function(){
                $(this).find('.hover').stop(true, true).animate({'top' : '-160px'}, 300);
            }, function(){
                $(this).find('.hover').stop(true, true).animate({'top' : '0'}, 300);
            })
        })
    </script>
    <div class="icon-container">
        <div class="icons" data-0="opacity:1;left:0%;" data-2000="left:-100%" data-2320="left:0%">
            <div class="hover">
                <img src="styles/vitrine/img/facebook-b.png">
                <div>Facebook</div>
            </div>
        </div>
        <div class="icons" data-0="opacity:1;left:0%;" data-2000="left:100%" data-2320="left:0%">
            <div class="hover">
                <img src="styles/vitrine/img/vimeo-b.png">
                <div>Vimeo</div>
            </div>
        </div>
        <div class="icons" data-0="opacity:1;left:0%;" data-2000="left:-100%" data-2320="left:0%">
            <div class="hover">
                <img src="styles/vitrine/img/twitter-b.png">
                <div>Twitter</div>
            </div>
        </div>
        <div class="icons" data-0="opacity:1;left:0%;" data-2000="left:100%" data-2320="left:0%">
            <div class="hover">
                <img src="styles/vitrine/img/rss-b.png">
                <div>rss</div>
            </div>
        </div>
        <div class="icons h-pc" data-0="opacity:1;left:0%;" data-2000="left:-100%" data-2320="left:0%">
            <div class="hover">
                <img src="styles/vitrine/img/picassa-b.png">
                <div>Picassa</div>
            </div>
        </div>
        <div class="icons" data-0="opacity:1;left:0%;" data-2000="left:100%" data-2320="left:0%">
            <div class="hover">
                <img src="styles/vitrine/img/dribbble-b.png">
                <div>Dribbble</div>
            </div>
        </div>
        <div class="icons" data-0="opacity:1;left:0%;" data-2000="left:-100%" data-2320="left:0%">
            <div class="hover">
                <img src="styles/vitrine/img/linkedin-b.png">
                <div>Linkedin</div>
            </div>
        </div>
        <div class="icons" data-0="opacity:1;left:0%;" data-2000="left:100%" data-2320="left:0%">
            <div class="hover">
                <img src="styles/vitrine/img/forrst-b.png">
                <div>Forrst</div>
            </div>
        </div>
        <div class="icons" data-0="opacity:1;left:0%;" data-2000="left:-100%" data-2320="left:0%">
            <div class="hover">
                <img src="styles/vitrine/img/pinterest-b.png">
                <div>Pinterest</div>
            </div>
        </div>
    </div>
</section>
<footer class="wraper ">
    <section class="head-els footer">
        <div class="logo">
            <img src="/images/logold.png" height="35px">
            cubbyhole
        </div>
        <div class="login">
            <div>login</div>
        </div>
    </section>
</footer>
<script>
    var mainColor = '#43a4e2';
</script>

