<div class="btn-group pull-left">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="N9X2EJ83QP6P2">
    <table>
        <tr><td><input type="hidden" name="on0" value="Business Pack"></td></tr><tr><td><select name="os0">
        <option value="1 Month">20,00 € - Mensuel</option>
        <option value="1 Year">240,00 € - Annuel</option>
    </select> </td></tr>
    </table>
    <input type="hidden" name="currency_code" value="EUR">
    <input type="hidden" name="item_name" value="business"/>
</div>
<div class="btn-group pull-right">
    <input type="image" height="50" width="100" src="images/Subscribe.png" name="submit"/>
</div>

