<div class="btn-group pull-left">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="YUHCGJMRPLKTN">
    <table>
        <tr><td><input type="hidden" name="on0" value="Starter Pack"></td></tr><tr><td><select name="os0">
        <option value="1 Month">2,00 € - Mensuel</option>
        <option value="1 Year">24,00 € - Annuel</option>
    </select> </td></tr>
    </table>
</div>
<input type="hidden" name="currency_code" value="EUR">
<input type="hidden" name="item_name" value="starter"/>
<div class="btn-group pull-right">
    <input type="image" height="50" width="100" src="images/Subscribe.png" name="submit"/>
</div>
